a { font-weight: bold; }
a:link, a:visited { text-decoration: none; color: #333; }	
a:hover, a:active { text-decoration: underline; color: #F36; }

body { background: #464939 url(pagebg.gif) repeat-y top center; font: 69%/1.5em 'Lucida Sans Unicode', 'Lucida Grande', verdana, arial, sans-serif; color: #333; margin: 0; padding: 0; text-align: center; }

p { margin: 0 0 10px; }

#container { position: relative; background: transparent; margin: 0 auto; text-align: justify; width: 600px; }
#container h3 { font-size: 110%; font-weight: bold; margin-bottom: 10px; margin-top: 30px; }

#pageHeader {
	margin: 0;
	padding-top: 15px;
	height: 300px;
	background: #FFF url(header.jpg) no-repeat bottom;
	border-bottom: 15px solid #FFF;
	text-align: right;
}
#pageHeader h1, #pageHeader h2 {
	margin: 0;
	margin-top: 30px;
	padding: 10px;
	color: #FFFFFF;
}

#pageHeader button {
	margin-top: 125px;
	margin-right: 5px;
	padding: 10px;
	font-size: 10px;
  	text-align: center;
  	color: green;
  	cursor: pointer;
  	outline: none;
	background-color: #FFFFFF;
	border: none;
	border-radius: 10px;
}
#pageHeader button:hover {background-color: blue; color: white;}
#pageHeader button:active {background-color: blue; color: white;}


#preamble {
	position: absolute;
	top: 330px;
	right: 0;
	z-index: 2;
	width: 190px;
	font-size: 90%;
	color: #FFF;
	text-align: left;
	border-bottom: 15px solid #FFF;
	line-height: 14px;
	padding-top: 10px;
}
#preamble p { margin: 0 17px 15px 15px; }
#preamble h3 { height: 30px; margin: 0; padding: 0; }
#preamble h3 span {
	margin: 0;
	padding: 10px;
}

#supportingText {
	margin: 0 205px 0 0;
	background-color: #DFE3C6;
	padding-top: 20px;
}
#supportingText p { margin: 0 20px 15px 20px;}

#explanation h3 { height: 30px; margin: 0; padding: 0; }
#explanation h3 span { margin: 0; padding: 20px; }

#participation h3 { height: 37px; margin: 0; padding: 0; }
#participation h3 span { margin: 0; padding: 20px; }

#benefits h3 { height: 37px; margin: 0; padding: 0; }
#benefits h3 span { margin: 0; padding: 20px; }

#footer {
	border-top: 15px solid #FFF;
	padding: 10px 15px 10px 10px;
	text-align: right;
	margin: 0;
	background-color: #DFE3C6;
}
#footer a { margin-left: 20px; color: #CCC; }
#footer a:hover, #footer a:active { color: #FFF; }

#linkList { background: transparent; padding: 0; margin: 0; width: 190px; position: absolute; top: 350px; right: 0; font-size: 90%; }

#linkList ul { margin: 0; padding: 0; list-style: none; }
#lselect ul, #larchives ul, #lresources ul { margin-top: -10px; margin-bottom: -10px; }
#linkList li { display: block; padding: 8px 0 7px 12px; margin: 0; line-height: 160%; border-bottom: 1px solid #FFF; }

#linkList li a { color: #FFFFFF; font: bold 110% arial, helvectica, sans-serif; }
#linkList li:hover {
	background-color: #7E8459;
	background-position: 0 0;
}
#linkList li:hover a { color: #FFF; }

#lselect { color: #377774; }
#lselect li:hover { color: #656565; }
#lselect li a { text-transform: uppercase; font: bold 110% arial, helvectica, sans-serif; display: block; margin: 0; padding: 0; }
#lselect li:hover a { color: #FFF; }
#lselect li a.c:link, #lselect li a.c:visited {	display: inline; font-weight: normal; text-transform: none; font-size: 100%; color: #377774; }
#lselect li:hover a.c { color: #FFB9CB; }

h3.archives { height: 30px; margin: 0; padding: 0; }
h3.archives span {
	margin: 0;
	padding: 10px;
	color: #FFFFFF;
}
