<html>
   <body>
   	<form action="http://af502755.ngrok.io/pepper">
    <input type="submit" value="Pepper" />
	</form>

	<form action="http://af502755.ngrok.io/potato">
    <input type="submit" value="Potato" />
	</form>

	<form action="http://af502755.ngrok.io/tomato">
    <input type="submit" value="Tomato" />
	</form>

	<form action="http://af502755.ngrok.io/soya">
    <input type="submit" value="soya" />
	</form>
  <form action="http://af502755.ngrok.io/apple">
    <input type="submit" value="apple" />
  </form>
  <form action="http://af502755.ngrok.io/cherry">
    <input type="submit" value="cherry" />
  </form>
  <form action="http://af502755.ngrok.io/corn">
    <input type="submit" value="corn" />
  </form>
  <form action="http://af502755.ngrok.io/grape">
    <input type="submit" value="grape" />
  </form>
  <form action="http://af502755.ngrok.io/peach">
    <input type="submit" value="peach" />
  </form>
    <!-- <button type="submit" formaction="http://localhost:5000/pepper">Pepper</button>
    <button type="submit" formaction="http://localhost:5000/potato">Potato</button>
    <button type="submit" formaction="http://localhost:5000/tomato">Tomato</button>
    <button type="submit" formaction="http://localhost:5000/soya">soya</button> -->
      
   </body>
</html>